<div class="menu">
{{#link-to 'index'}}
   <em>Повернутись на головну</em>
{{/link-to}}
</div>

{{#each model as |fav|}}
<img class="getgif" src='{{fav}}' width="400" height="222">
{{else}}
Ви не обрали жодну гіфку
{{/each}}
