<div class="menu">
{{#link-to 'favorite'}}
   <em>Обрані</em>
{{/link-to}}
</div>


<ul class="list-gif">
{{#each model as |pr|}}
  <li class="list-gif__item">
  {{#link-to 'page-giff'}}
  	{{#double-clickable class="som-js"}}
    		<img class="issue-number" src='https://media.giphy.com/media/{{pr.id}}/giphy.gif' width="200" height="111">
    {{/double-clickable}}
   {{/link-to}}
  </li>
{{else}}
	Якась помилка, хоча її не повинно бути
{{/each}}
</ul>