<div class="menu">
{{#link-to 'index'}}
   <em>Повернутись на головну</em>
{{/link-to}}
{{#link-to 'favorite'}}
   <em>Обрані</em>
{{/link-to}}
</div>

{{#set-comp}}
<img class="getgif" src='https://media.giphy.com/media/{{model.items}}/giphy.gif' width="400" height="222">
{{/set-comp}}

{{#to-favorites class="cur-point"}}
    В обрані
{{/to-favorites}}
